* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

/* TO DO:
Overwrote click feedback action changing color[x]
Display flex on list items removes bullets[x]
Button vertical height needs to be fixed => fixed with grid [x]
Resizing window causes centering errors - vmin [x]
add button click logic - hover not working - removed [x]

Make it to look more like slot machine (color scheme) / Fix pay table / Fix message orientation
Add font family to all text
Make the whole thing a grid
Lower dotted grid size?
move button array
CSS Reset, Responsive */

main {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: auto auto;
	grid-template-areas:
	"tbl mach"
	"btns btns";
}

section.pay-table {
	grid-area: tbl;
	border: 2px solid black;
}

ul {
	padding-left: 6px;
}

li {
	list-style: none;
	margin-top: 15px;
}

section.slot-machine {
	grid-area: mach;
	display: grid;
	grid-template-columns: 90px 90px 90px;
	grid-template-rows: 90px 90px 90px;
	grid-column-gap: 3vmin;
	background-color: purple;
	border: 3px solid black;
	padding: 20px 70px 20px 70px;
	margin: 20px;
}

section.slot-machine > div {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px dotted grey; /* Keep this as a backup */
	font-size: 30px;
}

section.io {
	grid-area: btns;
	display: grid;
	grid-template-columns: 15% 15% 15% 40%;
	grid-template-rows: 50% 50%;
}

button {
	border: 3px solid black;
	background-color: white;
	box-shadow: 5px 5px 5px grey;
	width: 65px;
	height: 40px;
	margin: 5px;
}

#go:hover {
	background-color: lime;
}

#reset:hover {
	background-color: orangered;
}

/* Fix centering of text box and font style */
#credits {
	text-align: center;
}

#message {
	text-align: center;
}